.modal-form-btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	width: 200px;
	letter-spacing: 0.06em;
	color: #ffffff;
	padding: 10px 55px 10px 55px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 0 auto;
}
